* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--white);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
  user-select: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--messenger-clr);
}

.has-color {
  color: var(--blue-crayola);
  border-radius: 5px;
  text-shadow: 2px 2px var(--white);
}

:root {
  --ff-poppins: "Poppins", sans-serif;
  --ff-opensans: "Open Sans", sans-serif;
  --ff-lobster: "Lobster Two", cursive;

  --white: #fff;
  --eerie-black: #1b1d20;
  --chinese-black: #101112;
  --blue-crayola: #206ee9;
  --messenger-clr: #3274f7;
  --sunglow: #ffc931;
}

.header {
  /* background-color: var(--white); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 11;
  transition: all 0.25s ease-in-out;
}

.header.sticky {
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header .logo {
  /* margin-left: -2.2rem; */
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--chinese-black);
}

.header .logo.active {
  color: var(--chinese-black);
}

.header .logo i {
  font-size: 1.3rem;
}

.header .menu__btn {
  padding: 0.5rem;
  cursor: pointer;
  display: none;
}

.header.sticky .menu__btn {
  background-color: var(--blue-crayola);
}

.header .menu__btn i {
  color: var(--chinese-black);
  font-size: 1.2rem;
}

.header.sticky .menu__btn i {
  color: var(--white);
}

.header .navbar {
  display: flex;
  align-items: center;
}

.header .navbar li {
  margin-right: 1.2rem;
  /* padding: 0.5rem 0.7rem; */
  transition: 0.25s ease-in-out;
}

.header .navbar li a {
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  display: block;
  font-family: var(--ff-poppins);
  font-weight: 600;
  color: var(--chinese-black);
  transition: 0.25s ease-in-out;
}

.header .navbar li:last-child {
  margin-right: 0;
}

.header .navbar li:hover:not(:last-child) {
  background-color: var(--eerie-black);
}

.header .navbar li:hover a {
  background-color: var(--blue-crayola);
  color: var(--white);
}

.header.sticky .navbar li:hover a {
  color: var(--white);
}

.header.sticky .navbar li a {
  color: var(--eerie-black);
}

.header .navbar .btn__search {
  font-size: 0.95rem;
  cursor: pointer;
  color: var(--chinese-black);
  padding: 0.7rem;
  transition: 0.25s ease-in-out;
}

.header .navbar .btn__search:hover {
  background-color: var(--blue-crayola);
  color: var(--white);
}

.header.sticky .navbar .btn__search {
  background-color: var(--blue-crayola);
  color: var(--white);
}

.mob__menu {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  user-select: none;
}

#modalSearch {
  z-index: 13;
  background-color: var(--white);
  transform: translateY(-200%);
}

#modalSearch.active {
  transform: translateY(0);
}

.close__modal__search {
  color: var(--chinese-black);
  position: absolute;
  top: 3%;
  right: 1.5%;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in-out;
  font-size: 1.1rem;
}

.close__modal__search:hover {
  background-color: var(--chinese-black);
  color: var(--white);
}

#modalSearch .search__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  outline: 2px solid var(--blue-crayola);
  width: 22rem;
  position: relative;
  z-index: 10;
}

#modalSearch .search__form i {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: var(--chinese-black);
}

.search__form .input__search {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.7rem;
  width: 100%;
  padding-left: 2.2rem;
  color: var(--chinese-black);
  font-size: 1rem;
}

.search__form .input__search::selection {
  background-color: var(--blue-crayola);
  color: var(--white);
}

/* hero section */
.hero__section {
  padding: 5rem 3rem;
  min-height: 100vh;
  position: relative;
}

.hero__section .hero__text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--chinese-black);
  letter-spacing: 2px;
}

.hero__section .hero__text .bg__text {
  font-size: 5rem;
  font-family: var(--ff-lobster);
}

.hero__section .hero__text .bg__text span {
  font-family: var(--ff-lobster);
  /* color: var(--white); */
}

.caret {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.hero__section .hero__text .sm__text {
  font-size: 1rem;
  word-spacing: 2px;
  margin-top: 0.3rem;
  margin-bottom: 3rem;
}

.hero__section .hero__text .btn__explore {
  font-family: var(--ff-poppins);
  font-weight: 500;
  font-size: 0.85rem;
  padding: 0.8rem 1rem;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--white);
  border-radius: 32px;
  color: var(--white);
  background: var(--blue-crayola);
  z-index: 9;
  transition: all 0.2s ease-in-out;
}

.hero__section .hero__text .btn__explore:hover {
  letter-spacing: 3.5px;
}

.hero__section .hero__text .btn__explore:hover {
  color: var(--white);
}

.hero__section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.hero__section .message__us {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  background-color: var(--white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation-play-state: running;
  animation: bounce 0.9s infinite alternate ease;
}

.hero__section .btn__message__us {
  display: none;
}

.hero__section .message__us:hover {
  animation-play-state: paused;
}

.hero__section .message__us i {
  color: var(--messenger-clr);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes bounce {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(0);
  }
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease-in-out;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* courses section */
.courses__section {
  padding: 3rem;
}

.heading .title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--chinese-black);
  font-family: var(--ff-lobster);
}

.heading .title span {
  font-family: var(--ff-lobster);
}

.courses__section .courses__container {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}

.courses__section .courses__container .course__card {
  height: 10rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem 1rem;
  position: relative;
  border-radius: 4px;
  outline: 2px solid var(--white);
  cursor: pointer;
  color: var(--chinese-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.25s ease-in-out;
  outline: 2px solid rgba(0, 0, 0, 0.15);
  outline-offset: 3px;
  user-select: none;
}

.courses__section .courses__container .course__card .fa-lock {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--chinese-black);
}

.courses__section .courses__container .course__card.locked {
  cursor: default;
}

.courses__section .courses__container .course__card:hover.locked {
  outline: 2px solid rgba(0, 0, 0, 0.15);
}

.courses__section .courses__container .course__card:hover.locked img {
  opacity: 0.3;
}

.courses__section .courses__container .course__card.locked .num,
.courses__section .courses__container .course__card.locked .course__name,
.courses__section .courses__container .course__card.locked img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.courses__section .courses__container .course__card.locked .fa-lock {
  display: block;
}

.courses__section .courses__container .course__card:hover {
  outline: 2px solid var(--eerie-black);
}

.courses__section .courses__container .course__card .num {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--eerie-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  user-select: none;
  transition: 0.3s ease-in-out 0.08s;
}

.courses__section .courses__container .course__card .course__name {
  /* margin-top: 1rem; */
  font-size: 1.3rem;
  font-weight: 600;
}

.courses__section .courses__container .course__card .btn__start__course {
  position: absolute;
  bottom: 0.3rem;
  left: 0.5rem;
  right: 0.5rem;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  background-color: var(--eerie-black);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  display: none;
}

.courses__section .courses__container .course__card .btn__start__course:active {
  transform: scale(0.98);
}

.courses__section .courses__container .course__card img {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: -1;
  opacity: 0.7;
  width: 60px;
  opacity: 0.3;
  transition: 0.25s ease-in-out;
}

.courses__section .courses__container .course__card:hover img {
  opacity: 1;
}

/* footer section */
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5rem 3rem;
  position: relative;
  width: 100%;
}

.footer .footer__container {
  font-size: 0.85rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: var(--ff-lobster);
}

.footer .developer {
  font-weight: 500;
  margin-top: 0.2rem;
}

.footer .btn__dev {
  color: var(--blue-crayola);
  font-weight: 500;
  cursor: pointer;
}

/* loader */
.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
  transition: 0pacity 0.5s, visibiltiy 0.5s;
}

.loader.hide {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 15px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  border-top-color: var(--blue-crayola);
  border-right-color: var(--blue-crayola);
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

#modalDev {
  width: 27rem;
  max-width: 95%;
  height: 11.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-10px);
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.25s ease-in-out 0.1s;
  opacity: 0;
  visibility: hidden;
  z-index: 13;
}

#modalDev.active {
  /* height: 14rem; */
  transform: translate(-50%, -50%) translateY(0px);
  opacity: 1;
  visibility: visible;
}

#modalDev.animate {
  height: 14rem;
}

.dev__popup .dev__popup__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.dev__popup .dev__popup__header h3 {
  font-family: var(--ff-lobster);
  font-size: 1.8rem;
}

.dev__popup .dev__popup__header h3 span {
  font-family: var(--ff-lobster);
  font-size: 1.8rem;
}

.dev__popup .dev__popup__header .btn__close__modalDev {
  width: 1.7rem;
  height: 1.7rem;
  font-size: 1rem;
  /* border-radius: 50%; */
  border: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.dev__popup .dev__popup__header .btn__close__modalDev:hover {
  background-color: var(--chinese-black);
  color: var(--white);
  transition: 0.25s ease-in-out;
}

.dev__popup .social__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.dev__popup .social__links li {
  margin: 0 0.5rem;
}

.dev__popup .social__links li a {
  color: var(--chinese-black);
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in-out;
}

.dev__popup .social__links li a i {
  transition: 0.25s ease-in-out 0.05s;
}

.dev__popup .social__links li a:hover {
  background-color: var(--bg);
}

.dev__popup .social__links li a:hover i {
  color: var(--white);
}

.dev__popup .social__links li:nth-child(1) a {
  color: #1da1f2;
  --bg: currentColor;
}

.dev__popup .social__links li:nth-child(2) a {
  color: #1877f2;
  --bg: currentColor;
}

.dev__popup .social__links li:nth-child(3) a {
  color: #c32aa3;
  --bg: currentColor;
}

.dev__popup .social__links li:nth-child(4) a {
  color: #25d366;
  --bg: currentColor;
}

.dev__popup .social__links li:nth-child(5) a {
  color: #171515;
  --bg: currentColor;
}

.dev__popup .input__field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 0 4rem;
  transition: all 0.25s ease-in-out 0.25s;
  opacity: 0;
  visibility: hidden;
}

.dev__popup .input__field.active {
  opacity: 1;
  visibility: visible;
}

.dev__popup .input {
  outline: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
}

.dev__popup .input .mob__number {
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  user-select: none;
  pointer-events: none;
  font-family: var(--ff-poppins);
  letter-spacing: 2px;
  font-weight: 500;
}

.dev__popup .input i {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.text__message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: var(--chinese-black);
  color: var(--white);
  padding: 1rem 2rem;
  z-index: 13;
  font-size: 1.1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: 0.25s ease-in-out;
}

.text__message.active {
  transform: translateX(-50%) translateY(0%);
}

.text__message i {
  margin-right: 0.5rem;
}

/* media queries */
@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .header .navbar {
    display: none;
  }

  .header .menu__btn {
    display: block;
  }

  .mob__menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 18rem;
    background-color: var(--white);
    z-index: 13;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transform: translateX(-200%);
    transition: 0.3s ease-in-out;
  }

  .mob__menu.active {
    transform: translate(0);
  }

  .mob__menu .logo {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--chinese-black);
    width: 100%;
  }

  .mob__menu .logo i {
    font-size: 1.5rem;
  }

  .mob__menu .fa-xmark {
    position: absolute;
    right: 4%;
    top: 2.5%;
    color: var(--chinese-black);
    font-size: 1.2rem;
    cursor: pointer;
  }

  .mob__menu .navbar {
    margin-top: 1.5rem;
  }

  .mob__menu .navbar li {
    padding: 0.7rem 0;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .mob__menu .navbar li:last-child {
    margin-bottom: 0;
  }

  .mob__menu .navbar li a {
    color: var(--chinese-black);
    font-family: var(--ff-poppins);
    font-size: 0.9rem;
    font-weight: 500;
  }

  .hero__section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .hero__section .message__us {
    right: 1rem;
  }
}

@media (max-width: 475px) {
  .mob__menu {
    width: 100%;
  }

  .header .menu__btn i {
    font-size: 1.4rem;
  }

  .hero__section .hero__text .bg__text {
    font-size: 3.5rem;
  }

  .hero__section .hero__text .sm__text {
    font-size: 1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-top: 0.5rem;
  }

  .hero__section .message__us {
    display: none;
  }

  .hero__section .btn__message__us {
    display: block;
    position: fixed;
    left: 1rem;
    bottom: 0.5rem;
    z-index: 10;
    background-color: var(--blue-crayola);
    width: calc(100% - 2rem);
    padding: 0.7rem;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
    font-family: var(--ff-poppins);
    font-weight: 500;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .hero__section .btn__message__us:active {
    transform: scale(0.98);
  }

  .hero__section .btn__message__us i {
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  .courses__section {
    padding: 3rem 1rem;
  }

  .courses__section .courses__container {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }

  .courses__section .courses__container .course__card {
    height: 12rem;
  }

  .courses__section .courses__container .course__card .course__name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .courses__section .courses__container .course__card img {
    width: 80px;
  }

  .courses__section .courses__container .course__card .num {
    position: absolute;
    top: -1rem;
    left: -0.5rem;
  }

  .footer {
    width: 100%;
    padding: 0;
  }

  .footer .footer__container {
    padding: 1rem 0.5rem;
  }
}
